# Final Capstone Project

In [1]:
### Importing necessary libraries:
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import matplotlib.pyplot as plt
import string
import re
from string import punctuation
import warnings
warnings.filterwarnings('ignore')

## Upload Train Dataset:

In [2]:
# Load the dataset
train_data = pd.read_csv(r'C:\Users\HP\Desktop\Digi-crome\Final_Capstone_Project\Data\train_data.csv')

In [3]:
# Get the first few rows of the dataset
train_data.head()

,Name of the product,Product Brand,categories,primaryCategories,reviews.date,reviews.text,reviews.title,sentiment
0,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Electronics,2016-12-26T00:00:00.000Z,Purchased on Black FridayPros - Great Price (e...,Powerful tablet,Positive
1,Amazon - Echo Plus w/ Built-In Hub - Silver,Amazon,"Amazon Echo,Smart Home,Networking,Home & Tools...","Electronics,Hardware",2018-01-17T00:00:00.000Z,I purchased two Amazon in Echo Plus and two do...,Amazon Echo Plus AWESOME,Positive
2,Amazon Echo Show Alexa-enabled Bluetooth Speak...,Amazon,"Amazon Echo,Virtual Assistant Speakers,Electro...","Electronics,Hardware",2017-12-20T00:00:00.000Z,Just an average Alexa option. Does show a few ...,Average,Neutral
3,"Fire HD 10 Tablet, 10.1 HD Display, Wi-Fi, 16 ...",Amazon,"eBook Readers,Fire Tablets,Electronics Feature...","Office Supplies,Electronics",2017-08-04T00:00:00.000Z,"very good product. Exactly what I wanted, and ...",Greattttttt,Positive
4,"Brand New Amazon Kindle Fire 16gb 7"" Ips Displ...",Amazon,"Computers/Tablets & Networking,Tablets & eBook...",Electronics,2017-01-23T00:00:00.000Z,This is the 3rd one I've purchased. I've bough...,Very durable!,Positive

In [4]:
train_data.shape

(4000, 8)

In [5]:
# Get the Dataset features
print(train_data.keys())

Index(['Name of the product', 'Product Brand', 'categories',
       'primaryCategories', 'reviews.date', 'reviews.text', 'reviews.title',
       'sentiment'],
      dtype='object')

In [6]:
# Get a quick summary of the data (columns, missing values, etc.)
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name of the product  4000 non-null   object
 1   Product Brand        4000 non-null   object
 2   categories           4000 non-null   object
 3   primaryCategories    4000 non-null   object
 4   reviews.date         4000 non-null   object
 5   reviews.text         4000 non-null   object
 6   reviews.title        3990 non-null   object
 7   sentiment            4000 non-null   object
dtypes: object(8)
memory usage: 250.1+ KB

In [7]:
# Count the number of missing values in each column
train_data.isnull().sum()

Name of the product     0
Product Brand           0
categories              0
primaryCategories       0
reviews.date            0
reviews.text            0
reviews.title          10
sentiment               0
dtype: int64

In [8]:
# Drop missing values of reviews.title column
train_data = train_data.dropna(subset=['reviews.title'])

# Check result
train_data.isnull().sum()

Name of the product    0
Product Brand          0
categories             0
primaryCategories      0
reviews.date           0
reviews.text           0
reviews.title          0
sentiment              0
dtype: int64

In [9]:
# Check the duplicate values
train_data.duplicated().sum()

58

In [10]:
# Remove duplicates
train_data = train_data.drop_duplicates()

# Get the results
train_data.duplicated().sum()

0

## Upload Test Dataset:

In [11]:
# Load the dataset
test_data = pd.read_csv(r'C:\Users\HP\Desktop\Digi-crome\Final_Capstone_Project\Data\test_data.csv')

In [12]:
# Get the first few rows of the dataset
test_data.head()

,Name of the product,Product Brand,categories,primaryCategories,reviews.date,reviews.text,reviews.title
0,"Fire Tablet, 7 Display, Wi-Fi, 16 GB - Include...",Amazon,"Fire Tablets,Computers/Tablets & Networking,Ta...",Electronics,2016-05-23T00:00:00.000Z,Amazon kindle fire has a lot of free app and c...,very handy device
1,Amazon Echo Show Alexa-enabled Bluetooth Speak...,Amazon,"Computers,Amazon Echo,Virtual Assistant Speake...","Electronics,Hardware",2018-01-02T00:00:00.000Z,The Echo Show is a great addition to the Amazo...,Another winner from Amazon
2,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Electronics,2017-01-02T00:00:00.000Z,Great value from Best Buy. Bought at Christmas...,simple to use and reliable so far
3,"Brand New Amazon Kindle Fire 16gb 7"" Ips Displ...",Amazon,"Computers/Tablets & Networking,Tablets & eBook...",Electronics,2017-03-25T00:00:00.000Z,"I use mine for email, Facebook ,games and to g...",Love it!!!
4,Amazon Echo Show Alexa-enabled Bluetooth Speak...,Amazon,"Computers,Amazon Echo,Virtual Assistant Speake...","Electronics,Hardware",2017-11-15T00:00:00.000Z,This is a fantastic item & the person I bought...,Fantastic!

In [13]:
test_data.shape

(1000, 7)

In [14]:
# Get the Dataset features
print(test_data.keys())

Index(['Name of the product', 'Product Brand', 'categories',
       'primaryCategories', 'reviews.date', 'reviews.text', 'reviews.title'],
      dtype='object')

In [15]:
# Get a quick summary of the data (columns, missing values, etc.)
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name of the product  1000 non-null   object
 1   Product Brand        1000 non-null   object
 2   categories           1000 non-null   object
 3   primaryCategories    1000 non-null   object
 4   reviews.date         1000 non-null   object
 5   reviews.text         1000 non-null   object
 6   reviews.title        997 non-null    object
dtypes: object(7)
memory usage: 54.8+ KB

In [16]:
# Count the number of missing values in each column
test_data.isnull().sum()

Name of the product    0
Product Brand          0
categories             0
primaryCategories      0
reviews.date           0
reviews.text           0
reviews.title          3
dtype: int64

In [17]:
# Drop missing values of reviews.title column
test_data = test_data.dropna(subset=['reviews.title'])

# Check result
test_data.isnull().sum()

Name of the product    0
Product Brand          0
categories             0
primaryCategories      0
reviews.date           0
reviews.text           0
reviews.title          0
dtype: int64

In [18]:
# Check the duplicate values
test_data.duplicated().sum()

3

In [19]:
# Remove duplicates
test_data = test_data.drop_duplicates()

# Get the results
test_data.duplicated().sum()

0

## Upload Test Hidden Dataset

In [20]:
# Load the dataset
test_hidden_data = pd.read_csv(r'C:\Users\HP\Desktop\Digi-crome\Final_Capstone_Project\Data\test_data_hidden.csv')

In [21]:
# Get the first few rows of the dataset
test_hidden_data.head()

,Name of the product,Product Brand,categories,primaryCategories,reviews.date,reviews.text,reviews.title,sentiment
0,"Fire Tablet, 7 Display, Wi-Fi, 16 GB - Include...",Amazon,"Fire Tablets,Computers/Tablets & Networking,Ta...",Electronics,2016-05-23T00:00:00.000Z,Amazon kindle fire has a lot of free app and c...,very handy device,Positive
1,Amazon Echo Show Alexa-enabled Bluetooth Speak...,Amazon,"Computers,Amazon Echo,Virtual Assistant Speake...","Electronics,Hardware",2018-01-02T00:00:00.000Z,The Echo Show is a great addition to the Amazo...,Another winner from Amazon,Positive
2,"All-New Fire HD 8 Tablet, 8"" HD Display, Wi-Fi...",Amazon,"Electronics,iPad & Tablets,All Tablets,Fire Ta...",Electronics,2017-01-02T00:00:00.000Z,Great value from Best Buy. Bought at Christmas...,simple to use and reliable so far,Positive
3,"Brand New Amazon Kindle Fire 16gb 7"" Ips Displ...",Amazon,"Computers/Tablets & Networking,Tablets & eBook...",Electronics,2017-03-25T00:00:00.000Z,"I use mine for email, Facebook ,games and to g...",Love it!!!,Positive
4,Amazon Echo Show Alexa-enabled Bluetooth Speak...,Amazon,"Computers,Amazon Echo,Virtual Assistant Speake...","Electronics,Hardware",2017-11-15T00:00:00.000Z,This is a fantastic item & the person I bought...,Fantastic!,Positive

In [22]:
test_hidden_data.shape

(1000, 8)

In [23]:
# Get the Dataset features
print(test_hidden_data.keys())

Index(['Name of the product', 'Product Brand', 'categories',
       'primaryCategories', 'reviews.date', 'reviews.text', 'reviews.title',
       'sentiment'],
      dtype='object')

In [24]:
# Get a quick summary of the data (columns, missing values, etc.)
test_hidden_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name of the product  1000 non-null   object
 1   Product Brand        1000 non-null   object
 2   categories           1000 non-null   object
 3   primaryCategories    1000 non-null   object
 4   reviews.date         1000 non-null   object
 5   reviews.text         1000 non-null   object
 6   reviews.title        997 non-null    object
 7   sentiment            1000 non-null   object
dtypes: object(8)
memory usage: 62.6+ KB

In [25]:
# Count the number of missing values in each column
test_hidden_data.isnull().sum()

Name of the product    0
Product Brand          0
categories             0
primaryCategories      0
reviews.date           0
reviews.text           0
reviews.title          3
sentiment              0
dtype: int64

In [26]:
# Drop missing values of reviews.title column
test_hidden_data = test_hidden_data.dropna(subset=['reviews.title'])

# Check result
test_hidden_data.isnull().sum()

Name of the product    0
Product Brand          0
categories             0
primaryCategories      0
reviews.date           0
reviews.text           0
reviews.title          0
sentiment              0
dtype: int64

In [27]:
# Check the duplicate values
test_hidden_data.duplicated().sum()

3

In [28]:
# Remove duplicates
test_hidden_data = test_hidden_data.drop_duplicates()

# Get the results
test_hidden_data.duplicated().sum()

0

# Rename the column to avoid errors

In [29]:
train_data.rename(columns = {'reviews.date':'reviews_date', 'reviews.text':'reviews_text','reviews.title':'reviews_title'}, inplace = True)
test_data.rename(columns = {'reviews.date':'reviews_date', 'reviews.text':'reviews_text','reviews.title':'reviews_title'}, inplace = True)
test_hidden_data.rename(columns = {'reviews.date':'reviews_date', 'reviews.text':'reviews_text','reviews.title':'reviews_title'}, inplace = True)

# Text Preprocessing

In [30]:
import nltk
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from wordcloud import WordCloud

In [31]:
# Converting reviews to lower case
for df in [train_data, test_hidden_data, test_data]:
  df["reviews_text"]= df["reviews_text"].str.lower()

# Removing punctuations and special characters 
for df in [train_data, test_hidden_data, test_data]:
  df["reviews_text"]= df["reviews_text"].str.replace('[^\w\s]', " ")

# Removing digits 
for df in [train_data, test_hidden_data, test_data]:
  df["reviews_text"] = df["reviews_text"].replace('\d', " ", regex = True)

# Tokenization

In [32]:
# Tokenizing reviews 
nltk.download("punkt")
for df in [train_data, test_hidden_data, test_data]:
  df["reviews_text"] = df["reviews_text"].apply(nltk.word_tokenize)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [33]:
# Removing stop_words 
from nltk.corpus import stopwords 
nltk.download("stopwords")
stop = stopwords.words('english')
for df in [train_data, test_hidden_data , test_data]:
  df["reviews_text"]= df["reviews_text"].apply(lambda x: [word for word in x if word not in stop])

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [34]:
# Lemmatization 
nltk.download('wordnet')
def lemmatize_text(text):
  lemmatizer = WordNetLemmatizer()
  return [lemmatizer.lemmatize(w, 'v') for w in (text)]

for df in [train_data, test_hidden_data, test_data]:
  df["reviews_text"] = df["reviews_text"].apply (lemmatize_text)

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\HP\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [35]:
# Converting the lemmatized list to string 
for df in [train_data, test_hidden_data, test_data]:
  df["reviews_text"] = df["reviews_text"].str.join(" ")

# Save the cleaned data into csv

In [36]:
train_data.to_csv(r'C:\Users\HP\Desktop\Digi-crome\Final_Capstone_Project\Data\cleaned_train_data.csv', index=False)

test_data.to_csv(r'C:\Users\HP\Desktop\Digi-crome\Final_Capstone_Project\Data\cleaned_test_data.csv', index=False)

test_hidden_data.to_csv(r'C:\Users\HP\Desktop\Digi-crome\Final_Capstone_Project\Data\cleaned_test_hidden_data.csv', index=False)